body {
    background-position: center;
    background-size: cover;
}

.heading {
background-color: azure;
border-radius: 20px;
box-shadow: 7px 7px 7px lightgrey;
width: 100%;
margin: 0;
}

#input1, #input2 {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 23px;
}

#input1 {
    margin-top: 30px;
}

button {
    width: 125px;
    height: 55px;
    font-size: 25px;
    
}